<div class="heroHomeBG">
	<div class="verticalCenter">
		<div>
			<p align="center"><img src="images/largeLogo.png" width="300"></p>
			<h2 style="text-transform: uppercase;">State Of The Art Software To Grow Your Steel Business</h2>
			<h5 class="text-center">We Help Reinforcing Steel Companies Estimate &amp; Detail Faster, Cheaper, &amp; More Accurately</h5>

			<br>

			<p align="center">
				<a ui-sref="estimates" class="button large"><i class="fa fa-table"></i> My Estimates</a>
				<a ui-sref="add" class="button large"><i class="fa fa-plus-square"></i> Add Estimate</a>
			</p>
			<p align="center">
				<a ui-sref="logs" class="button"><i class="fa fa-sticky-note-o"></i> Daily Log</a>
			</p>
		</div>
	</div>
</div>

<div class="subMission">
	<div>
		<b>Quit using expensive &amp; outdated software!</b>
		 Start enjoying free updates, cloud storage, &amp; phenomenal customer support!
	</div>
</div>

<div class="benefits">
	<div class="benefit">
		<div><img src="images/customerSupport.png"></div>
		<b>Superior Customer Service</b>
	</div>
	<div class="benefit">
		<div><img src="images/save.png"></div>
		<b>Extremely Affordable</b>
	</div>
	<div class="benefit">
		<div><img src="images/time.png"></div>
		<b>Saves You Countless Hours</b>
	</div>
	<div class="benefit">
		<div><img src="images/accuracy.png"></div>
		<b>Extremely Accurate</b>
	</div>
	<div class="benefit">
		<div><img src="images/Cloud.png"></div>
		<b>Access Your Data Anywhere!</b>
	</div>
</div>

<div class="copyright">
	&copy; All Rights Reserved
</div>