<span ng-init="$root.viewingPDF = true;"></span>

<div class="pdfTopBar">
	<span ng-if="firebaseUser" style="font-size: 11px;"><a onclick="goBack()">&laquo; Back</a></span>
	<b>QUOTE</b>VIEWER
	<div style="float: right;">
		<a ng-click="savePDF()" class="button primary tiny"><i class="fa fa-floppy-o" aria-hidden="true"></i> SAVE PDF</a> 
		<a ng-click="$root.collapseBars = !$root.collapseBars;" class="button secondary tiny"><span ng-if="!$root.collapseBars">Collapse</span><span ng-if="$root.collapseBars">Un-collapse</span> Bars</a>
	</div>
</div>

<div ng-repeat="estimate in estimates | filter:{$id:stateParams.estimateID}" id="pdfSave" style="background: #fff; padding: 15px;">


	<h3 class="contentPaneTitle">{{estimate.name || 'Untitled'}}</h3>

	<div class="jobListingNumber">
		Bid Date: {{estimate.date}} &middot; Estimate: #{{estimate.number}}
	</div>

	<div class="jobListingMeta" ng-show="estimate.estimator || estimate.salesPerson || estimate.pricingPerson">
		<div class="jobListingMetaItem" ng-show="estimate.estimator">
			<b>ESTIMATOR</b>
			{{estimate.estimator || 'Not Set'}}
		</div>
		<div class="jobListingMetaItem" ng-show="estimate.salesPerson">
			<b>Sales Person</b>
			{{estimate.salesPerson || 'Not Set'}}
		</div>
		<div class="jobListingMetaItem" ng-show="estimate.pricingPerson">
			<b>Pricing Person</b>
			{{estimate.pricingPerson || 'Not Set'}}
		</div>
	</div>

	<h4 class="subContentPaneTitle">ITEMS IN JOB</h4>

	<!-- <input type="text" placeholder="Filter..." class="contentPaneSearch"> -->

	<div id="groupList" class="jobListing" ng-show="itemsLoaded" sortablejs>
		<ul class="groupListings" sortablegroups>
			<li class="group" id="{{group.$id}}" ng-repeat="group in groups | orderBy: 'priority'" groupid="{{group.$id}}">
				<div class="groupTitle" groupid="{{group.$id}}" ng-click="expandGroup(group.$id)" sortablegroups>
					<div class="groupTitleHeader">
						{{group.title}} 
						<div style="height: 1px;"></div>
						<div class="groupInfo">
							<div class="groupWeight">
								<b>WEIGHT</b><br>
								<!-- <b>{{itemsTotalWeight(estimate.$id, group.$id) | number:2}} lbs</b> -->
								<span ng-init="group.totalWeight = 0; groups.$save(group);"></span>
								{{group.totalWeight | number:2}} lbs
							</div>
							<div class="groupCost" ng-show="estimate.includeCosts">
							 	<b>MATERIAL COST</b><br>
							 	<span ng-init="group.materialCost = 0; groups.$save(group);"></span>
							 	{{group.materialCost | currency}}
							 	<!-- <b>{{itemsTotalCost(estimate.$id, estimate, group.$id) | currency}}</b> -->
							</div>
							<div class="topGroupLaborCost" ng-show="estimate.includeCosts">
							 	<b>LABOR COST</b><br>
							 	<span ng-init="group.laborCost = 0; groups.$save(group);"></span>
							 	{{group.laborCost | currency}}
							 	<!-- <b>{{itemsTotalCost(estimate.$id, estimate, group.$id) | currency}}</b> -->
							</div>
						</div>
					</div>
				</div>

				<!-- ITEM TABLE -->
				<section class="flexibleTable smallFlexibleTable">
					<ul class="sortableItems">

						<!-- ITEM GROUP LOOP -->
						<li 
						  class="sortableItem itemGroupRow" 
						  ng-repeat="itemGroup in itemGroups | filter:{estimateID:estimate.$id} | filter:{topGroupID:group.$id} | orderBy:'priority'" 
						  itemgroupid="{{itemGroup.$id}}" groupid="{{itemGroup.$id}}"
						>

							<div class="row toolAddRow">
								<div class="toolAdd" ng-click="showItemGroup[itemGroup.$id]=!showItemGroup[itemGroup.$id]">
									<div class="toolAddTitle row-8">
										{{itemGroup.tool || 'Group'}}
										<!-- <select ng-model="itemGroup.topGroupID" ng-change="itemGroups.$save(itemGroup); reinit()">
											<option value="{{group.$id}}" ng-repeat="group in groups | orderBy: 'priority'">{{group.title}}</option>
										</select> -->
									</div>
									<div class="toolAddNotes">
										<span style="color: #fff;">{{itemGroup.notes}}</span>
									</div>
									<div class="groupPricing">
										<div class="itemGroupWeight">
											<span ng-init="itemGroup.weight=0; itemGroups.$save(itemGroup)"></span>
											<b>Weight</b><br>
											{{itemGroup.weight | number:2}} lbs
										</div>
										<div class="groupMaterialCost"  ng-show="estimate.includeCosts">
											<span ng-init="itemGroup.materialCost = 0; itemGroups.$save(itemGroup);"></span>
											<b>Material Cost</b><br>
											{{itemGroup.materialCost | currency}}
										</div>
										<div class="groupLaborCost"  ng-show="estimate.includeCosts">
											<span ng-init="itemGroup.laborCost = 0; itemGroups.$save(itemGroup);"></span>
											<b>Labor Cost</b><br>
											{{itemGroup.laborCost | currency}}
										</div>
									</div>
								</div>
								<div class="itemGroupItems" ng-show="!showItemGroup[itemGroup.$id] && !$root.collapseBars">
									<!-- ITEM LOOP -->
									<div class="itemView" ng-repeat="item in items | filter:{group:itemGroup.$id}" itemid="{{item.$id}}">

										<span ng-repeat="employeeGroup in employeeGroups | filter:{userID:estimate.userID, name:'Average Iron Worker'}:true">									
											<span ng-repeat="rate in SACRates | filter:{$id:estimate.userID}:true">
												<!-- MAIN ITEM TABLE -->
												<div ng-if="!item.specialTool">
													<pdfitemtable></pdfitemtable>
												</div>
												<div ng-if="item.specialTool == 'mesh'">
													<pdfmeshtable></pdfmeshtable>
												</div>
											</span>

										</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>

			</li>

				<!-- <li class="group" ng-show="filteredItems.length > 0">
					<div class="groupTitle uncategorizedGroup" ng-click="expandGroup('misc')">
						<span>
							UNCATEGORIZED <small>These items will not show up until they are put in a group</small>
						</span>
					</div>

					<section class="flexibleTable smallFlexibleTable" ng-show="user.openGroup == 'misc'">
						<ul class="sortableItems">
							<li class="sortableItem tableRow" ng-repeat="item in items | orderBy:'priority' | filter:hasGroupFilter() as filteredItems" itemid="{{item.$id}}" ng-show="!item.groupID || item.groupID == 'misc'">

								<div class="row">
									<itemtable></itemtable>
								</div>

							</li>
						</ul>
					</section>

				</li> -->
				
			</ul>

			<h4 class="totalTableHeader"><i class="fa fa-table" aria-hidden="true"></i> SUMMARY</h4>
			<table class="bordered hover totalsTable stack">
				<tr>
					<th>Total Weight</th>
					<td>
						<span ng-init="estimate.totalWeight = 0; estimates.$save(estimate);"></span>
						{{estimate.totalWeight | number:2}} lbs
					</td>
				</tr>
				<tr ng-show="estimate.includeCosts">
					<th>Material Cost</th>
					<td>
						<!-- {{itemsTotalCost(estimate.$id, estimate, 'all') | currency}} -->
						<span ng-init="estimate.totalMaterialCost = 0; estimates.$save(estimate);"></span>
						{{estimate.totalMaterialCost | currency}}
					</td>
				</tr>
				<tr ng-show="estimate.includeCosts">
					<th>Labor Cost</th>
					<td>
						<span ng-init="estimate.laborCost = 0; estimates.$save(estimate);"></span>
						{{estimate.laborCost | currency}}
					</td>
				</tr>
				<tr class="bottomLine" ng-show="estimate.includeCosts">
					<th>Breakeven Cost</th>
					<span ng-init="estimate.breakEvenCost = estimate.laborCost + estimate.totalMaterialCost; estimates.$save(estimate);"></span>
					<td>
						{{estimate.breakEvenCost | currency}}
					</td>
				</tr>
				<tr class="markup" ng-show="estimate.includeCosts">
					<th>Markup</th>
					<td>
						<div class="input-group" style="width: 100px;">
							{{estimate.markup}}
							%
						</div>
					</td>
				</tr>
				<tr class="bottomLine"  ng-show="estimate.includeCosts">
					<th>Final Bid</th>
					<span ng-init="estimate.finalBid = ((1+(estimate.markup)/100)) * estimate.breakEvenCost; estimates.$save(estimate);"></span>
					<td>
						{{estimate.finalBid | currency}}
					</td>
				</tr>
				<tr  ng-show="estimate.includeCosts">
					<th>Gross Margin</th>
					<span ng-init="estimate.grossMargin = (estimate.finalBid - estimate.breakEvenCost) / estimate.finalBid; estimates.$save(estimate);"></span>
					<td>
						{{estimate.grossMargin * 100 | number}}%
					</td>
				</tr>
			</table>

	</div>

</div>